# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/

# Test and coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite3
*.db

# MacOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Others
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.7z
*.bak
*.swp
*.swo
*.tmp
